.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: white;
    width: 60vw;
    border-radius: 10px;
    padding: 20px;
    text-align: center
}

.contact-container h3{
   color: #539DC2;
   font-family: 'Big Shoulders Stencil Display', cursive;	
}

.contact-container hr{
   border-color: #BFEFFF;
   width: 50%;
   border-width: 0.2px	
}

.form-contact{
   width: 80%
}