.contact-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
   background-color: white;
   width: 60vw;
   border-radius: 10px;
   padding: 20px;
   text-align: center
}

.contact-container h3{
   color: #539DC2;
   font-family: 'Big Shoulders Stencil Display', cursive;	
   font-size: 30px
}

.contact-container hr{
   border-color: #BFEFFF;
   width: 50%;
   border-width: 0.2px	
}

.form-contact{
   width: 80%;
}

.form-contact .form-control{
   border-color: #539DC2;
   font-family: 'Roboto Slab', serif;
}

.contact-question{
   font-size: 15px;
   font-weight: bold;
   font-family: 'Roboto Slab', serif;
}

.contact-fill{
   font-family: 'Roboto Slab', serif;
}

.button-contact{
   font-family: 'Roboto Slab', serif;
}

