/* .detail{
background: url(../img/gaming.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
} */
.body-datail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px
}

.detailGame-title{
    margin-bottom: 20px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.detailGame-description{
    width: 80%;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px
}

.add-header{
  margin-bottom: 50px;  
  font-family: 'Big Shoulders Stencil Display', cursive;
}

.button-code{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 20px
}

.codes{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    width: 150px;
    margin: 20px;
    text-align: center
}