.diamond-blue{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 5px;
    border-color: #539DC2;
    transform: rotate(45deg);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center

}
.diamond-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.diamond-black{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center
}

.diamond-black img{
    width: 50px;
    height: 50px;
    transform: rotate(220deg);
    background-color: white
}

.diamond-container h6{
    margin-top: 25px;
    margin-bottom: 3px;
    font-size: 20px;
    text-align: center;
    color: #539DC2;
    font-family: 'Big Shoulders Stencil Display';	
}

.diamond-container p{
    width: 120px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
   font-size: 10px
}