.info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px
}
.info-container h3, .info-container h4{
   color: #539DC2;
   font-family: 'Big Shoulders Stencil Display', cursive;	
}

.info-container hr{
   border-color: #BFEFFF;
   width: 50%;
   border-width: 0.2px	
}

.all-diamonds-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}

.info-container h4{
   margin-top: 30px
}

.info-container p{
   text-align: center;
   font-family: 'Roboto Slab', serif;
   font-size: 15px
}