.gamepad-icon{
    font-size: 40px;
    /* margin-left: 20px; */
    color: black
}
.dropdown-menu, .form-inline{
    margin: 10px !important
}

.dropdown a{
    text-decoration: none;
    color: black
}

.language{
    display: flex;
    flex-direction: row;
}
.flag-image{
    width: 30px;
    margin: 5px;
}


