.gamepad-icon{
    font-size: 60px;
    margin-left: 20px;
    color: black
}
.dropdown{
    margin-left: 82%
}
.dropdown a{
    text-decoration: none;
    color: black
}
.bar-icon{
    font-size: 30px;
    margin-right: 10px
}
.language{
    display: flex;
    flex-direction: row;
}
.flag-image{
    width: 30px;
    margin: 5px
}
